.lesson{
  direction: rtl;
  z-index: 10;
  background-color: var(--forms-color);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.carousel-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  direction: rtl;
  margin: 10px 0 40px 0;
}
hr{
  border: 2px solid var(--dark-blue);
  opacity: 1 !important;
}
.carousel-container h2{
  color: var(--brown-color);
  font-weight: bold;
  margin-bottom: 30px;
}
.carousel-content {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-grow: 1;
}
.card{
  color:var(--dark-blue);
  background-color:#fff;
  border: none;
  border-radius: 18px;
  margin: 0 10px;
  padding:8px 15px;
  text-align: center;
  margin: 0 5px;
  font-size: 20px;
  font-weight: bold;
  transition: 1s;
}
.btn-arrow {
  border: none;
  cursor: pointer;
  padding: 5px;
  height: 50px;
  width: 50px;
}
.btn-arrow img{
  height: 100%;
  width: 100%;
}
.btn-arrow input{
  visibility: hidden;
}
input[type="radio"] {
  display: none;
}
.card:hover{
  background: var(--brown-color);
  color: #fff;
}

.card:has(input[type="radio"]:checked) {
  background-color: var(--brown-color);
  color: #fff;
}
form{
  text-align: center;
}
button.submit{
  background-color:var(--dark-blue);
  color: #fff !important;
  transition: 1s;
  padding: 5px 15px;
  border-radius: 25px;
  width: 40%;
  color:var(--brown-color);
  border:none;
  outline: none;
  font-weight: bold;
  font-size: 18px;
}
button.submit:hover{
  background-color:var(--light-blue);
}
