<div class="container manooTemp mb-5">
  <div class="content">
    <div class="top">
      <div class="search">
        <input type="search" placeholder="بحث عن طالب">
      </div>
      <div class="addStudentBtn">
        <p>إضافه طالب</p>
        <i class="fa-solid fa-user-plus"></i>
        <div class="drop">
          <p>إضافه طالب يدوى</p>
          <p>إضافه عن طريق إكسيل</p>
        </div>
      </div>
    </div>
    <div class="middle">
      <div>
        <h3>الصف</h3>
        <p>أولى إبتدائ</p>
      </div>
      <div>
        <h3>الفصل</h3>
        <p>2</p>
      </div>
      <div>
        <h3>عدد الطلاب</h3>
        <p>55</p>
      </div>
    </div>
    <div class="bottom">
      <table>
          <div class="thead w-100 mb-2">
          <div class="text-center row w-100">
            <th scope="col" class="col-1">رقم</th>
            <th scope="col" class="col-1"></th>
            <th scope="col" class="col-3">معلومات الطالب</th>
            <th scope="col" class="col-2">كود الطالب</th>
            <th scope="col" class="col-2">رقم الهاتف</th>
            <th scope="col" class="col-3">النقاط</th>
          </div>
        </div>
        <div class="tbody w-100 mb-2">
          <div class="text-center row w-100">
            <td class="col-1">1</td>
            <td class="col-1 studentImage"><img src="../../../../assets/images/student.png" alt="student">
              <div class="studentSetting">
                <p>
                  <i class="fa-regular fa-user"></i>
                  الملف الشخصى
                </p>
                <p>
                  <i class="fa-solid fa-pen-to-square"></i>
                  تعديل الطالب
                </p>
                <p>
                  <i class="fa-regular fa-trash-can"></i>
                  حذف الطالب
                </p>
              </div>
            </td>
            <td class="col-3 name">محمد عماد سرور</td>
            <td class="col-2">1365</td>
            <td class="col-2">01040516944</td>
            <td class="col-3">إجمالى النقاط <span>95</span></td>
          </div>
      </div>
        <div class="tbody w-100 mb-2">
          <div class="text-center row w-100">
            <td class="col-1">1</td>
            <td class="col-1 studentImage"><img src="../../../../assets/images/student.png" alt="student">
              <div class="studentSetting">
                <p>
                  <i class="fa-regular fa-user"></i>
                  الملف الشخصى
                </p>
                <p>
                  <i class="fa-solid fa-pen-to-square"></i>
                  تعديل الطالب
                </p>
                <p>
                  <i class="fa-regular fa-trash-can"></i>
                  حذف الطالب
                </p>
              </div>
            </td>
            <td class="col-3 name">محمد عماد سرور</td>
            <td class="col-2">1365</td>
            <td class="col-2">01040516944</td>
            <td class="col-3">إجمالى النقاط <span>95</span></td>
          </div>
      </div>
        <div class="tbody w-100 mb-2">
          <div class="text-center row w-100">
            <td class="col-1">1</td>
            <td class="col-1 studentImage"><img src="../../../../assets/images/student.png" alt="student">
              <div class="studentSetting">
                <p>
                  <i class="fa-regular fa-user"></i>
                  الملف الشخصى
                </p>
                <p>
                  <i class="fa-solid fa-pen-to-square"></i>
                  تعديل الطالب
                </p>
                <p>
                  <i class="fa-regular fa-trash-can"></i>
                  حذف الطالب
                </p>
              </div>
            </td>
            <td class="col-3 name">محمد عماد سرور</td>
            <td class="col-2">1365</td>
            <td class="col-2">01040516944</td>
            <td class="col-3">إجمالى النقاط <span>95</span></td>
          </div>
      </div>
        <div class="tbody w-100 mb-2">
          <div class="text-center row w-100">
            <td class="col-1">1</td>
            <td class="col-1 studentImage"><img src="../../../../assets/images/student.png" alt="student">
              <div class="studentSetting">
                <p>
                  <i class="fa-regular fa-user"></i>
                  الملف الشخصى
                </p>
                <p>
                  <i class="fa-solid fa-pen-to-square"></i>
                  تعديل الطالب
                </p>
                <p>
                  <i class="fa-regular fa-trash-can"></i>
                  حذف الطالب
                </p>
              </div>
            </td>
            <td class="col-3 name">محمد عماد سرور</td>
            <td class="col-2">1365</td>
            <td class="col-2">01040516944</td>
            <td class="col-3">إجمالى النقاط <span>95</span></td>
          </div>
      </div>
        <div class="tbody w-100 mb-2">
          <div class="text-center row w-100">
            <td class="col-1">1</td>
            <td class="col-1 studentImage"><img src="../../../../assets/images/student.png" alt="student">
              <div class="studentSetting">
                <p>
                  <i class="fa-regular fa-user"></i>
                  الملف الشخصى
                </p>
                <p>
                  <i class="fa-solid fa-pen-to-square"></i>
                  تعديل الطالب
                </p>
                <p>
                  <i class="fa-regular fa-trash-can"></i>
                  حذف الطالب
                </p>
              </div>
            </td>
            <td class="col-3 name">محمد عماد سرور</td>
            <td class="col-2">1365</td>
            <td class="col-2">01040516944</td>
            <td class="col-3">إجمالى النقاط <span>95</span></td>
          </div>
      </div>
      </table>
    </div>
  </div>
</div>
