<div class="container manooTemp">
  <div class="content">
    <div class="top">
      <div class="search">
        <input type="search">
      </div>
      <div class="addStudentBtn">
        <p>إضافه طالب</p>
        <i class="fa-solid fa-user-plus"></i>
      </div>
    </div>
    <div class="middle">
      <div>
        <p>الصف</p>
        <p>أولى إبتدائ</p>
      </div>
      <div>
        <p>الصف</p>
        <p>أولى إبتدائ</p>
      </div>
      <div>
        <p>الصف</p>
        <p>أولى إبتدائ</p>
      </div>
    </div>
    <div class="bottom">
      <table>
        <thead>
          <tr class="text-center">
            <th scope="col" class="col-1">رقم</th>
            <th scope="col" class="col-1"></th>
            <th scope="col" class="col-3">معلومات الطالب</th>
            <th scope="col" class="col-1">كود الطالب</th>
            <th scope="col" class="col-1">رقم الهاتف</th>
            <th scope="col" class="col-1">النقاط</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td>1</td>
            <td><img src="../../../../assets/images/student.png" alt="student">
            </td>
            <td>محمد عماد سرور</td>
            <td>1365</td>
            <td>01040516944</td>
            <td>إجمالى النقاط <span>95</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
