<div class="container AdminTemp">

  <!-- ---------Start Add----------- -->

  <div class="AdminFlow" *ngIf="ShowAddAcademinTerm">
    <div class="AdminFlow-content">
      <img src="../../../../assets/images/close.png" alt="close" class="AdminFlow-exit" (click)="Toggle()">
      <h2 class="AdminFlow-h2">إضافه مواد دراسيه</h2>
      <div>
        <form action="" [formGroup]="addClassForm" (ngSubmit)="Submit()">
          <div class="AdminFlow-info">
            <div class="form-group mb-3 text-md-right">
              <label class="label mb-2" for="name"> إسم الماده</label>
              <input type="text" class="form-control text-md-right" name="name" id="name" formControlName="name"
                required />
              <div class="errormsg" [hidden]="name?.valid ||name?.untouched">
                <small class="text-danger text-end" *ngIf="name?.errors?.['required']">
                  إسم الماده مطلوب
                </small>
              </div>
            </div>
            <div class="form-group mb-3 text-md-right">
              <label for="levelId" class="form-label"> إختر المرحله</label>
              <select class="form-select" name="levelId" formControlName="levelId" aria-label="Default select example">
                <option selected disabled>إختر المرحله</option>
                <option value={{level.id}} *ngFor="let level of levels">{{level.name}}</option>
              </select>
              <div class="errormsg" [hidden]="levelId?.valid ||levelId?.untouched">
                <small class="text-danger text-end" *ngIf="levelId?.errors?.['required']">
                  المرحله مطلوبه
                </small>
              </div>
            </div>
            <div class="form-group mb-3 text-md-right">
              <label for="gradeId" class="form-label"> إختر الصف</label>
              <select class="form-select" name="gradeId" formControlName="gradeId" aria-label="Default select example">
                <option selected disabled>إختر الصف</option>
                <option value={{grade.id}} *ngFor="let grade of grades">{{grade.name}}</option>
              </select>
              <div class="errormsg" [hidden]="gradeId?.valid ||gradeId?.untouched">
                <small class="text-danger text-end" *ngIf="gradeId?.errors?.['required']">
                  الصف مطلوبه
                </small>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">حفظ</button>
        </form>
      </div>
    </div>
  </div>

  <!-- ---------End Add----------- -->
  <!-- ---------Start Edit----------- -->

  <!-- <div class="AdminFlow" *ngIf="ShowEditAcademinTerm">
    <div class="AdminFlow-content">
      <img src="../../../../assets/images/close.png" alt="close" class="AdminFlow-exit" (click)="ToggleEdit()">
      <h2 class="AdminFlow-h2">تعديل المرحله التعليميه</h2>
      <div>
        <form action="" [formGroup]="addClassForm" (ngSubmit)="Submit()">
          <div class="AdminFlow-info">
            <div class="form-group mb-3 text-md-right">
              <label class="label mb-2" for="name"> إسم المرحله</label>
              <input type="text" class="form-control text-md-right" name="name" id="name" formControlName="name"
                required />
              <div class="errormsg" [hidden]="name?.valid ||name?.untouched">
                <small class="text-danger text-end" *ngIf="name?.errors?.['required']">
                  إسم الفصل مطلوب
                </small>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">تعديل</button>
        </form>
      </div>
    </div>
  </div> -->

  <!-- ---------End Edit----------- -->
  <div class="adminTitle">
    <h3>المواد الدراسيه</h3>
    <button (click)="Toggle()">إضافه ماده</button>
  </div>
  <div class="adminTable">
    <table class="table table-striped text-center">
      <thead class="thead">
        <tr>
          <th>#</th>
          <th>اسم الماده</th>
          <th>المرحله</th>
          <th>الصف</th>
          <th>الإجراء</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjects;let i = index">
          <td>{{i+1}}</td>
          <td>{{ subject.name }}</td>
          <td>{{ subject.levelName }}</td>
          <td>{{ subject.gradeName }}</td>
          <td class="actions">
            <i class="fa-solid fa-ellipsis"></i>
            <div class="action">
              <p class="text-success" (click)="ToggleEdit()">
                تعديل
                <i class="fa-solid fa-gear"></i>
              </p>
              <hr class="m-0">
              <p class="text-danger">
                حذف ..
                <i class="fa-regular fa-trash-can"></i>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
