<div class="container home">
  <div class="content">
    <!-- Region selection -->
    <!-- <div class="region-selection">
      <h2>المنطقة</h2>
      <select id="region">
        <option value="رياض">
          <img src="../../../../assets/images/coin-1.png" alt="number1">
          <p>منطقة الرياض</p>
          <p class="member_number">عدد المشتركين: 25</p>
        </option>
        <option value="مكة">
          <img src="../../../../assets/images/coin-1.png" alt="number1">
          <p>منطقة مكة المكرمة</p>
          <p class="member_number">عدد المشتركين: 25</p>
        </option>
        <option value="شرقية">
          <img src="../../../../assets/images/coin-1.png" alt="number1">
          <p>منطقة الشرقية</p>
          <p class="member_number">عدد المشتركين: 25</p>
        </option>
        <option value="مدينة">
          <img src="../../../../assets/images/coin-1.png" alt="number1">
          <p>منطقة المدينة</p>
          <p class="member_number">عدد المشتركين: 25</p>
        </option>
      </select>
    </div> -->


    <form action="" [formGroup]="addClassForm" (ngSubmit)="Submit()">
    <!-- Level selection -->
    <div class="stage-selection">
      <h3>المرحلة</h3>
      <div class="stages">
        <div class="big" *ngFor="let level of levels; let i = index">
          <input type="checkbox" [id]="i" [value]="level.id" (change)="onLevelChange(level.id, $event)"  (change)="onSelectLevelMultipleAnswer($event, level)">
          <label for="{{i}}">{{level.name}}</label>
        </div>
      </div>
    </div>

    <!-- Grade selection -->
    <div class="grade-selection">
      <h3>الصف</h3>
      <div class="stages">
        <div *ngFor="let grade of grades; let i = index">
          <input type="checkbox" [id]="i + 'grade'" [value]="grade.id" (change)="onGradeChange(grade.id, $event)" (change)="onSelectGradeMultipleAnswer($event, grade)">
          <label for="{{i + 'grade'}}">{{grade.name}}</label>
        </div>
      </div>
    </div>

    <!-- Subject selection -->
    <div class="subject-selection">
      <h3>المواد الدراسيه</h3>
      <div class="stages">
        <div *ngFor="let subject of subjects; let i = index">
          <input type="checkbox" [id]="i + 'subject'" [value]="subject.id" (change)="onSelectSubjectMultipleAnswer($event, subject)">
          <label for="{{i + 'subject'}}">{{subject.name}}</label>
        </div>
      </div>
    </div>


    <!-- Subscription duration -->
    <div class="subscription-duration">
      <h3>مدة الاشتراك</h3>
      <div class="stages">
          <div class="package" *ngFor="let AcademicTerm of AcademicTerms; let i = index" >
          <input type="checkbox" [id]="i + 'AcademicTerm'" [value]="AcademicTerm.id" (change)="onSelectAcademicTermMultipleAnswer($event, AcademicTerm)">
          <p>{{AcademicTerm.name}}</p>
          <div class="price">
            <label for="{{i + 'AcademicTerm'}}">قم بالاختيار</label>
            <p>80 ر.س</p>
          </div>
        </div>
      </div>
    </div>
    <button>إضافه</button>
    </form>
  </div>
</div>

