<div class="container home">
  <div class="content">
    <!-- Region selection -->
    <!-- <div class="region-selection">
      <h2>المنطقة</h2>
      <select id="region">
        <option value="رياض">
          <img src="../../../../assets/images/coin-1.png" alt="number1">
          <p>منطقة الرياض</p>
          <p class="member_number">عدد المشتركين: 25</p>
        </option>
        <option value="مكة">
          <img src="../../../../assets/images/coin-1.png" alt="number1">
          <p>منطقة مكة المكرمة</p>
          <p class="member_number">عدد المشتركين: 25</p>
        </option>
        <option value="شرقية">
          <img src="../../../../assets/images/coin-1.png" alt="number1">
          <p>منطقة الشرقية</p>
          <p class="member_number">عدد المشتركين: 25</p>
        </option>
        <option value="مدينة">
          <img src="../../../../assets/images/coin-1.png" alt="number1">
          <p>منطقة المدينة</p>
          <p class="member_number">عدد المشتركين: 25</p>
        </option>
      </select>
    </div> -->


    <!-- Educational stage selection -->
    <div class="stage-selection">
      <h3>المرحلة</h3>
      <div class="stages">
        <div class="big" *ngFor="let level of levels;let i = index">
          <input type="checkbox" [id]="i" [value]="level.id">
          <label for={{i}}>{{level.name}}</label>
        </div>
      </div>
    </div>

    <!-- Grade selection -->
    <div class="grade-selection">
      <h3>الصف</h3>
      <div class="stages">
        <div>
          <input type="checkbox" id="high-school">
          <label for="high-school">المرحلة الثانوية</label>
        </div>
        <div>
          <input type="checkbox" id="middle-school">
          <label for="middle-school">المرحلة المتوسطة</label>
        </div>
        <div>
          <input type="checkbox" id="elementary-school">
          <label for="elementary-school">المرحلة الابتدائية</label>
        </div>
        <div>
          <input type="checkbox" id="high-school">
          <label for="high-school">المرحلة الثانوية</label>
        </div>
        <div>
          <input type="checkbox" id="middle-school">
          <label for="middle-school">المرحلة المتوسطة</label>
        </div>
        <div>
          <input type="checkbox" id="elementary-school">
          <label for="elementary-school">المرحلة الابتدائية</label>
        </div>
      </div>
    </div>


    <!-- Subject selection -->
    <div class="subject-selection">
      <h3>المواد</h3>
      <div class="stages">
        <div>
          <input type="checkbox" id="high-school">
          <label for="high-school">المرحلة الثانوية</label>
        </div>
        <div>
          <input type="checkbox" id="middle-school">
          <label for="middle-school">المرحلة المتوسطة</label>
        </div>
        <div>
          <input type="checkbox" id="elementary-school">
          <label for="elementary-school">المرحلة الابتدائية</label>
        </div>
        <div>
          <input type="checkbox" id="high-school">
          <label for="high-school">المرحلة الثانوية</label>
        </div>
        <div>
          <input type="checkbox" id="middle-school">
          <label for="middle-school">المرحلة المتوسطة</label>
        </div>
        <div>
          <input type="checkbox" id="elementary-school">
          <label for="elementary-school">المرحلة الابتدائية</label>
        </div>
      </div>
    </div>


    <!-- Subscription duration -->
    <div class="subscription-duration">
      <h3>مدة الاشتراك</h3>
      <div class="stages">
        <div class="package">
          <input type="checkbox" id="first-season">
          <p>الفصل الدراسى الأول</p>
          <div class="price">
            <label for="first-season">قم بالاختيار</label>
            <p>80 ر.س</p>
          </div>
        </div>
        <div class="package">
          <input type="checkbox" id="second-season">
          <p>الفصل الدراسى الثانى</p>
          <div class="price">
            <label for="second-season">قم بالاختيار</label>
            <p>80 ر.س</p>
          </div>
        </div>
        <div class="package">
          <input type="checkbox" id="third-season">
          <p>الفصل الدراسى الثالت</p>
          <div class="price">
            <label for="third-season">قم بالاختيار</label>
            <p>80 ر.س</p>
          </div>
        </div>
      </div>
    </div>
    <button>إضافه</button>
  </div>
</div>

