<div class="container AdminTemp">

  <!-- ---------Start Add----------- -->

  <div class="AdminFlow" *ngIf="ShowAddAcademinTerm">
    <div class="AdminFlow-content">
      <img src="../../../../assets/images/close.png" alt="close" class="AdminFlow-exit" (click)="Toggle()">
      <h2 class="AdminFlow-h2">إضافه مرحله تعليميه</h2>
      <div>
        <form action="" [formGroup]="addClassForm" (ngSubmit)="Submit()">
          <div class="AdminFlow-info">
            <div class="form-group mb-3 text-md-right">
              <label class="label mb-2" for="name"> إسم المرحله</label>
              <input type="text" class="form-control text-md-right" name="name" id="name" formControlName="name"
                required />
              <div class="errormsg" [hidden]="name?.valid ||name?.untouched">
                <small class="text-danger text-end" *ngIf="name?.errors?.['required']">
                  إسم الفصل مطلوب
                </small>
              </div>
            </div>
            <div class="form-group mb-3 text-md-right">
              <label class="label mb-2" for="startDate"> تاريخ البدايه</label>
              <input type="date" class="form-control text-md-right" name="startDate" id="startDate" formControlName="startDate"
                required />
              <div class="errormsg" [hidden]="startDate?.valid ||startDate?.untouched">
                <small class="text-danger text-end" *ngIf="startDate?.errors?.['required']">
                  تاريخ البدايه مطلوب
                </small>
              </div>
            </div>
            <div class="form-group mb-3 text-md-right">
              <label class="label mb-2" for="endDate"> تاريخ الانتهاء</label>
              <input type="date" class="form-control text-md-right" name="endDate" id="endDate" formControlName="endDate"
                required />
              <div class="errormsg" [hidden]="endDate?.valid ||endDate?.untouched">
                <small class="text-danger text-end" *ngIf="endDate?.errors?.['required']">
                  تاريخ الانتهاء مطلوب
                </small>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">حفظ</button>
        </form>
      </div>
    </div>
  </div>

  <!-- ---------End Add----------- -->
  <!-- ---------Start Edit----------- -->

  <div class="AdminFlow" *ngIf="ShowEditAcademinTerm">
    <div class="AdminFlow-content">
      <img src="../../../../assets/images/close.png" alt="close" class="AdminFlow-exit" (click)="ToggleEdit()">
      <h2 class="AdminFlow-h2">تعديل المرحله التعليميه</h2>
      <div>
        <form action="" [formGroup]="addClassForm" (ngSubmit)="Submit()">
          <div class="AdminFlow-info">
            <div class="form-group mb-3 text-md-right">
              <label class="label mb-2" for="name"> إسم المرحله</label>
              <input type="text" class="form-control text-md-right" name="name" id="name" formControlName="name"
                required />
              <div class="errormsg" [hidden]="name?.valid ||name?.untouched">
                <small class="text-danger text-end" *ngIf="name?.errors?.['required']">
                  إسم الفصل مطلوب
                </small>
              </div>
            </div>
            <div class="form-group mb-3 text-md-right">
              <label class="label mb-2" for="startDate"> تاريخ البدايه</label>
              <input type="date" class="form-control text-md-right" name="startDate" id="startDate" formControlName="startDate"
                required />
              <div class="errormsg" [hidden]="startDate?.valid ||startDate?.untouched">
                <small class="text-danger text-end" *ngIf="startDate?.errors?.['required']">
                  تاريخ البدايه مطلوب
                </small>
              </div>
            </div>
            <div class="form-group mb-3 text-md-right">
              <label class="label mb-2" for="endDate"> تاريخ الانتهاء</label>
              <input type="date" class="form-control text-md-right" name="endDate" id="endDate" formControlName="endDate"
                required />
              <div class="errormsg" [hidden]="endDate?.valid ||endDate?.untouched">
                <small class="text-danger text-end" *ngIf="endDate?.errors?.['required']">
                  تاريخ الانتهاء مطلوب
                </small>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">تعديل</button>
        </form>
      </div>
    </div>
  </div>

  <!-- ---------End Edit----------- -->
  <div class="adminTitle">
    <h3>المراحل التعليميه</h3>
    <button (click)="Toggle()">إضافه مرحله</button>
  </div>
  <div class="adminTable">
    <table class="table table-striped text-center">
      <thead class="thead">
        <tr>
          <th>الرقم </th>
          <th>اسم المرحله التعليميه</th>
          <th>تاريخ البدايه</th>
          <th>تاريخ النهايه</th>
          <th>الإجراء</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let academ of AcademicTerms;let i = index">
          <td>{{i+1}}</td>
          <td>{{ academ.name }}</td>
          <td>{{ academ.startDate }}</td>
          <td>{{ academ.endDate }}</td>
          <td class="actions">
            <i class="fa-solid fa-ellipsis"></i>
            <div class="action">
              <p class="text-success" (click)="ToggleEdit()">
                تعديل
                <i class="fa-solid fa-gear"></i>
              </p>
              <hr class="m-0">
              <p class="text-danger">
                حذف ..
                <i class="fa-regular fa-trash-can"></i>
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
