<div class="nav container d-flex align-items-center justify-content-between w-100">
  <div class="left d-flex align-items-center">
    <div class="profile-image">
      <img src="../../../assets/images/human.png" alt="Profile" />
      <div class="profileSetting">
        <p>
          الملف الشخصى
          <i class="fa-regular fa-user"></i>
        </p>
        <hr>
        <p>
          توقيع المعلم
          <i class="fa-solid fa-pen"></i>
        </p>
        <hr>
        <p class="text-danger" (click)="logOut()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          تسجيل خروج
        </p>
      </div>
    </div>
    <div class="nav_icon">
      <i class="fa-regular fa-bell"></i>
    </div>
  </div>
  <div class="right d-flex align-items-center">
    <div class="nav_icon nav_setting" (click)="toggleSetting($event) ">
      <i class="fa-solid fa-gear"></i>
      <div class="nav-items home-items" *ngIf="isSettingBarOpen">
        <div class="nav-item first-item" routerLink="/classes">
          <img src="../../../../assets/images/home-black.png" />
          <span>الفصول</span>
        </div>
        <!-- <div class="nav-item" routerLink="/classStudent">
          <img src="../../../assets/images/calendar-link.png" />
          <span>طلاب الفصل</span>
        </div> -->
        <div *ngIf="role=='SuperAdmin'" class="nav-item" routerLink="academicTerm">
          <img src="../../../assets/images/calendar-link.png" />
          <span>الفصول الدراسيه</span>
        </div>
        <div *ngIf="role=='SuperAdmin'" class="nav-item" routerLink="level">
          <img src="../../../assets/images/calendar-link.png" />
          <span>المراحل التعليميه</span>
        </div>
        <div *ngIf="role=='SuperAdmin'" class="nav-item" routerLink="grade">
          <img src="../../../assets/images/calendar-link.png" />
          <span>الصفوف</span>
        </div>
        <div *ngIf="role=='SuperAdmin'" class="nav-item" routerLink="subject">
          <img src="../../../assets/images/calendar-link.png" />
          <span>المواد الدراسيه</span>
        </div>
        <div *ngIf="role=='SuperAdmin'" class="nav-item" routerLink="lesson">
          <img src="../../../assets/images/calendar-link.png" />
          <span>الدروس</span>
        </div>
        <!-- <div class="nav-item" >
          <img src="../../../assets/images/users-more.png" />
          <span>الطلاب</span>
        </div> -->
      </div>
    </div>
    <div class="nav_icon nav_home" (click)="toggleMenu($event) ">
      <i class="fa-solid fa-house"></i>
      <div class="nav-items home-items" *ngIf="menuOpen">
        <!-- <div class="nav-item first-item" routerLink="/home">
          <img src="../../../../assets/images/home-black.png" />
          <span>الرئيسيه</span>
        </div> -->
        <div *ngIf="role=='SuperAdmin'" class="nav-item" routerLink="/addTeacher">
          <img src="../../../assets/images/calendar-link.png" />
          <span>إضافه معلم</span>
        </div>
        <div class="nav-item" routerLink="/chooseLesson">
          <img src="../../../assets/images/calendar-link.png" />
          <span>إختر درس</span>
        </div>
        <!-- <div class="nav-item" routerLink="">
          <img src="../../../assets/images/calendar-link.png" />
          <span>الجدول</span>
        </div>
        <div class="nav-item" routerLink="/student">
          <img src="../../../assets/images/users-more.png" />
          <span>الطلاب</span>
        </div>
        <div class="nav-item" routerLink="/studentPro">
          <img src="../../../assets/images/users-more.png" />
          <span>ملف الطالب</span>
        </div>
        <div class="nav-item" routerLink="/package">
          <img src="../../../assets/images/chart-vertical.png" />
          <span>الكشوف</span>
        </div> -->
        <!-- <div class="nav-item" routerLink="/paper">
          <img src="../../assets/images/document-filled.png" />
          <span>اوراق العمل</span>
        </div>
        <div class="nav-item" routerLink="/exam">
          <img src="../../assets/images/document-filled.png" />
          <span>الاختبارات</span>
        </div>
        <div class="nav-item" routerLink="/certificate">
          <img src="../../../assets/images/crown-1.png" />
          <span>الشهادات</span>
        </div>
        <div class="nav-item" routerLink="/reason">
          <img src="../../../assets/images/user-warning.png" />
          <span>تحويل طالب</span>
        </div>
        <div class="nav-item" routerLink="/skills">
          <img src="../../../assets/images/calendar-user.png" />
          <span>المهارات الاساسية</span>
        </div>
        <div class="nav-item">
          <img src="../../../assets/images/suitcase.png" />
          <span> البنك</span>
        </div>
        <div class="nav-item" routerLink="/curriculum">
          <img src="../../../assets/images/document-plus.png" />
          <span> توزيع المنهج</span>
        </div> -->
      </div>
    </div>
  </div>
</div>
