<div class="container manooTemp">
  <h3 class="mb-4 text-center fw-bold"> انشاء حساب للمعلم</h3>

  <form action="" class="w-100" [formGroup]="registerForm" (ngSubmit)="Submit()">
    <div class="form-group mb-3">
      <label class="label mb-2" for="userName">إسم المعلم</label>
      <input type="text" class="form-control" name="userName" id="userName" formControlName="userName"
        placeholder="قم باضه إسم المعلم" required />
      <div class="errormsg" [hidden]="userName?.valid ||userName?.untouched">
        <small class="text-danger" *ngIf="userName?.errors?.['required']">
          إسم المعلم مطلوب
        </small>
      </div>
    </div>

    <div class="form-group mb-3">
      <label class="label mb-2" for="userEmail">البريد الإلكترونى</label>
      <input type="text" class="form-control" name="userEmail" id="userEmail" formControlName="userEmail"
        placeholder="قم بإضافه البريد الإلكترونى" required />
      <div class="errormsg" [hidden]="userEmail?.valid ||userEmail?.untouched">
        <small class="text-danger" *ngIf="userEmail?.errors?.['required']">
          البريد الإلكترونى مطلوب
        </small>
      </div>
    </div>

    <div class="form-group mb-3">
      <label class="label mb-2" for="phoneNumber">رقم الهاتف</label>
      <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber"
        placeholder="قم بإضافه رقم الهاتف" required />
      <div class="errormsg" [hidden]="phoneNumber?.valid ||phoneNumber?.untouched">
        <small class="text-danger" *ngIf="phoneNumber?.errors?.['required']">
          رقم الهاتف مطلوب
        </small>
      </div>
    </div>

    <div class="form-group mb-3">
      <label class="label mb-2" for="password">كلمه السر</label>
      <input type="password" class="form-control" id="password" formControlName="password"
        placeholder="********" required />
        <div class="errormsg" [hidden]="password?.valid ||password?.untouched">
          <small class="text-danger" *ngIf="password?.errors?.['required']">
            الباسوورد مطلوب
          </small>
        </div>
      </div>


    <button class="form-control btn btn-primary px-3" [disabled]="registerForm.invalid"> انشاء حساب</button>

  </form>
</div>
