form{
  width: 75% !important;
  margin: auto;
}
input{
  width:100%;
}
input{
  border-radius: 12px;
}
input::placeholder{
  font-size: 12px;
}
button{
  background-color: var(--dark-blue) !important;
  width: fit-content;
}
